<div>
    <md-toolbar class="md-hue-1 md-whiteframe-5dp toolbar heading">
        <div class="md-toolbar-tools">
            <h4>
                <span>Metadata</span>
            </h4>
            <span flex></span>
            <a href="" ng-click="idvm.context.staticBar.selected.createTask()">
                <md-tooltip>Create a task</md-tooltip>
                <md-icon class="material-icons">note</md-icon>
            </a>
            <a href="" ng-click="idvm.context.staticBar.selected.onClose()">
                <md-icon class="material-icons">cancel</md-icon>
            </a>
        </div>
    </md-toolbar>
    <div class="md-whiteframe-3dp">
        <md-list flex>
            <div ng-repeat="(group, groupDetails) in idvm.context.staticBar.selected.attributesWithErrors">
                <md-subheader>
                    <span ng-bind="group"></span>
                </md-subheader>
                <md-list-item class="md-2-line" ng-repeat="attribute in groupDetails.attributes" ng-class="{'error-selected': attribute.errors.selected === true}" ng-click="idvm.context.staticBar.selected.onErrorClicked(attribute.errors)">
                    <div layout="column">
                        <h5 ng-bind="attribute.metadata.label" style="margin: 0px"></h5>
                        <p style="color:red;margin: 0px;" ng-bind="attribute.errors.errorList[0]"></p>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
            </div>

        </md-list>
    </div>
</div>