<!--<div>
    <span flex class="md-body-2">Name</span>
    <md-divider></md-divider>
    <span flex ng-bind="item.name"></span>
</div>-->
<div>
    <span flex class="md-body-2"><b>GTIN</b></span>
    <md-divider></md-divider>
    <span flex ng-bind="item.gtin"></span>
</div>
<div>
    <span flex class="md-body-2"><b>Brand</b></span>
    <md-divider></md-divider>
    <span flex ng-bind="item.brand"></span>
</div>
<div style="margin:0px;padding-top:30px;">
    <img style="height: 100%;width: 100%" ng-src="images/no-image.png" class="md-avatar"/>
</div>
